# Java
*.class

# Maven
/target/

# Logs
*.log

# Package files
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# JVM crash logs
hs_err_pid*
replay_pid*

# IntelliJ
.idea/
*.iml

# Eclipse / STS
.project
.classpath
.settings/

# Environment variables
.env
